
<!-- templates/new-language.html -->
{% extends "file-base.html" %}
{% block content %}
<h1>New Tag Request</h1>
<form action="{{ url_for('fileIO.new_tag') }}" method="POST" class="modern-form">

    <div class="form-group">
        <label for="language_name">Tag name</label>
        <input type="text" id="tag_name" name="tag_name" required>
    </div>

    <div class="form-group">
        <label for="tag_desc">Description of need for new tag</label>
        <textarea id="tag_desc" name="tag_desc" rows="5" required></textarea>
    </div>

    <button type="submit" class="primary-button">Submit</button>
</form>
{% endblock %}
